@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

body {
  /* background-image: linear-gradient(to top, #57090f 0%, #e77586 100%); */
  background-image: url(hell.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: "DotGothic16", sans-serif;
  overflow: hidden;
  z-index: 1;
}
body::selection {
  color: red;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 97vh;
}

.title {
  font-size: 45px;
  text-shadow: 2px 2px #ff0000;
  color: rgb(0, 0, 0);
}

::selection {
  color: red;
  background-color: black;
}

/* .text-area {
  margin: 3rem 0 0 0;
  background-color: black;
  width: 105%;
  height: 33rem;
  transform: skewY(-6deg);

  display: flex;
  justify-content: center;
  align-items: center;
} */

#text-here {
  height: 23rem;
  width: 60rem;
  font-size: 40px;
  /* background-image: url("fire.png"); */
  background-color: rgb(0, 0, 0);
  background-size: 100% 100%;
  color: white;
  font-family: "DotGothic16", sans-serif;
  resize: none;
  outline-style: none;
  border: none;
  /* transform: skewY(6deg); */
  z-index: 999;
}

#text-here::placeholder {
  text-align: center;
  padding-top: 5rem;
  color: white;
  opacity: 0.5;
}

.buttons {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  width: 60rem;
}
.button-down {
  box-shadow: 5px 5px 5px 1px #black;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(34, 34, 34, 1) 100%
  );
  border-radius: 3px;
  border: none;
  color: white;
  cursor: pointer;
  font-family: Arial;
  font-size: 25px;
  padding: 6px 12px;
  font-family: "DotGothic16", sans-serif;
}

.button-down:hover {
  background: linear-gradient(
    180deg,
    rgba(34, 34, 34, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}
.button-down:active {
  position: relative;
  bottom: 2px;
}

#gif {
  position: fixed;
  top: 40%;
  left: 75%;
}

@media only screen and (max-width: 1000px) {
  body {
    background-image: url(hell-mobile.jpg);
    height: 100vh;
  }
  .title {
    font-size: 66px;
    text-align: center;
    margin-bottom: 8rem;
  }
  #text-here::placeholder {
    font-size: 70px;
  }
  .buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
  .button-down {
    font-size: 55px;
  }
  #gif {
    position: absolute;
    left: 40rem;
    top: 110rem;
    height: 300px;
    width: 300px;
  }
  span {
    font-size: 40px;
  }
}
